
.eightball {
  border-radius: 50%;
  color: white;
  text-align: center;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}